mat-toolbar {
  justify-content: space-between;
}

.content {
  padding: 50px;
}

.giftcard {
  background: #17141d;
  color: white;
  margin: 10px;
  border-radius: 20px !important;
  transition: .2s;
}


.mat-card-header:hover {
  background: linear-gradient(90deg, #ff8a00, #e52e71);
  text-shadow: none;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
}

.mat-card-title {
  font-size: 25px;
  color: white;
  padding-top: 5px;
}

.mat-button {
  background: linear-gradient(90deg, #ff8a00, #e52e71);;
  text-shadow: none;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
}

.mat-button:hover {
  background: linear-gradient(90deg, #ff8a00, #e52e71);
  text-shadow: none;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
}

mat-chip {
  background: linear-gradient(90deg, #ff8a00, #e52e71);
  -webkit-text-fill-color: white;
  color: white;
  padding: 15px;
  font-size: 20px;
}

mat-chip-list {
  display: flex;
  justify-content: space-evenly;
  
}

img {
  height: 400px;
  width: 30;
}