<app-navbar></app-navbar>
<div class="container">
    <h1 style="margin-top: 5%;">Inventario GiftCards</h1>
    <div class="row">

        <div class="col-md-12">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th scope="col">No.</th>
                        <th scope="col">Nombre</th>
                        <th scope="col">Codigo</th>
                        <th scope="col">Valor</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let objeto of cards2; let i = index">
                        <th scope="row">{{i+1}}</th>
                        <td>{{objeto.name}}</td>
                        <td>{{objeto.codigo}}</td>
                        <td>{{objeto.valor}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>