<div class="content" fxLayout="row wrap" fxLayoutGap="18px grid">
  <div [fxFlex]="100 + '%'" fxFlex.xs="100%" fxFlex.sm="50%">
    <mat-card class="mat-elevation-z10">
      <mat-card-header>
        <mat-card-title>Registrarse</mat-card-title>
      </mat-card-header>

      <mat-card-content>
        <form class="example-form">
          <table class="example-full-width" cellspacing="0">
            <tr>
              <td class="td-pago">
                <mat-form-field class="example-full-width">
                  <mat-label>Nombre</mat-label>
                  <input [(ngModel)]="nombre" [ngModelOptions]="{standalone: true}" matInput />
                </mat-form-field>
              </td>
              <td class="td-pago">
                <mat-form-field class="example-full-width">
                  <mat-label>Apellidos</mat-label>
                  <input [(ngModel)]="apellidos" [ngModelOptions]="{standalone: true}" matInput />
                </mat-form-field>
              </td>
              <td class="td-pago">
                <mat-form-field class="example-full-width">
                  <mat-label>DPI</mat-label>
                  <input [(ngModel)]="dpi" [ngModelOptions]="{standalone: true}" matInput />
                </mat-form-field>
              </td>
              <td class="td-pago">
                <mat-form-field class="example-full-width">
                  <mat-label>Correo</mat-label>
                  <input [(ngModel)]="correo" [ngModelOptions]="{standalone: true}" matInput />
                </mat-form-field>
              </td>
            </tr>
          </table>

          <table class="example-full-width" cellspacing="0">
            <tr>
                <td class="td-pago">
                  <mat-form-field class="example-full-width">
                    <mat-label>Edad</mat-label>
                    <input [(ngModel)]="edad" [ngModelOptions]="{standalone: true}" matInput />
                  </mat-form-field>
                </td>
                <td class="td-pago">
                  <mat-form-field class="example-full-width">
                    <mat-label>Usuario</mat-label>
                    <input [(ngModel)]="usuario" [ngModelOptions]="{standalone: true}" matInput />
                  </mat-form-field>
                </td>
                <td class="td-pago">
                  <mat-form-field class="example-full-width">
                    <mat-label>Contraseña</mat-label>
                    <input [(ngModel)]="pass" [ngModelOptions]="{standalone: true}" matInput />
                  </mat-form-field>
                </td>
              </tr>
          </table>
        </form>
      </mat-card-content>
      <mat-card-actions style="text-align: center; padding-bottom: 20px;">
        <button mat-raised-button btn-block style="width: 25%; background-color: #17141d; color: white" (click)="registrarse()">Registrarse</button>
        <button mat-raised-button btn-block style="width: 25%; background-color: #17141d; color: white" (click)="irInicioSesion()">Iniciar Sesión</button>
      </mat-card-actions>
    </mat-card>
  </div>
</div>